asgiref==3.5.2
autopep8==2.0.2
certifi==2022.12.7
distlib==0.3.6
Django==4.1.3
filelock==3.9.0
numpy==1.24.1
pipenv==2022.12.19
platformdirs==2.6.2
pycodestyle==2.10.0
sqlparse==0.4.3
tomli==2.0.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
